.skyline {
    background-image: url('../../assets/skyline.png');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the image is behind other content */
}

.titleBuildingBtn {
    top: 320px;
    left: 380px;
    position: absolute;
}

.quoteBuildingBtn {
    top: 420px;
    left: 630px;
    position: absolute;
}

.mock1BuildingBtn {
    top: 520px;
    left: 880px;
    position: absolute;
}

.mock2BuildingBtn {
    top: 320px;
    left: 1030px;
    position: absolute;
}