.avatarContainer {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    flex: 0;
    align-items: flex-end;
    left: 0;
    bottom: 100px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 20px;
}